<ion-header>
  <ion-row class="pt-20 color-row" >
    <ion-col size="2" class="flex-center">
      <ion-icon name="menu-outline" class="menu"></ion-icon>
    </ion-col>
    <ion-col size="8" class="flex-center">
      <img src="/assets/imgs/logo-header.png" class="size-logo">
    </ion-col>
    <ion-col size="2" class="flex-center">
      <div class="circle flex-center">
        <span class="circle-internal"></span>
        <ion-icon name="notifications" class="notifications"></ion-icon>
      </div>
    </ion-col>

  </ion-row>

  <div class="header2">
    <ion-row class="pt-20">
      <ion-col size="4" class="flex-right " >
        <img src="/assets/imgs/avatar.png" class="avatar mr-10">
      </ion-col>
      <ion-col size="8">
        <div class="nome-nivel pt-15">
          <span>Leonardo Santos</span>
          <span class="roxo">Nível Roxo</span>
        </div>
      </ion-col>

    </ion-row>
  </div>

</ion-header>

<ion-content>

</ion-content>
