<ion-header>

  <ion-row class="pt-20 color-row">
    <ion-col size="2" class="flex-center">
      <ion-icon name="menu-outline" class="menu"></ion-icon>
    </ion-col>
    <ion-col size="8" class="flex-center">
      <img src="/assets/imgs/logo-header.png" class="size-logo">
    </ion-col>
    <ion-col size="2" class="flex-center">
      <div class="circle flex-center">
        <span class="circle-internal"></span>
        <ion-icon name="notifications" class="notifications"></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <div class="header2">
    <ion-row class="pt-15">
      <ion-col size="3" class="flex-right ">
        <img src="/assets/imgs/perfil-user.jpg" class="avatar">
      </ion-col>
      <ion-col size="9">
        <div class="nome-nivel pt-20">
          <span>Leonardo Santos</span>
          <span class="roxo">Nível Roxo</span>
        </div>
      </ion-col>
    </ion-row>

    <div class="header3">
      <ion-row>
        <ion-col size="12" class="flex-center">
          <div class="content-header3">
            <ion-icon name="accessibility" class="accessibility"></ion-icon>
            <span class="my-body">MEU CORPO</span>
            <ion-icon name="trophy" class="trophy"></ion-icon>
            <span class="obj-conq">OBJETIVOS E CONQUISTAS</span>
          </div>

        </ion-col>

      </ion-row>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="principal">
    <div class="personal-online">
      <span class="text-personal">PERSONAL ONLINE</span>
      <ion-icon name="add-outline" class="add-outline"></ion-icon>
    </div>

    <div class="card-container">
      <ion-card style="position: relative;" class="ion-no-margin" *ngFor="let image of images">
        <img [src]="image.url" />
        <div class="overlay">
          <ion-icon name="add-circle-outline" class="icon-new"></ion-icon>
          <span class="text">NOVO TREINO</span>
        </div>
      </ion-card>
    </div>



    <div class="personal-online">
      <span class="text-personal">PROGRAMAS</span>
      <span class="new">NOVO</span>
    </div>
    <div class="card-container">
      <ion-card class="ion-no-margin" *ngFor="let image of images">
        <img [src]="image.url" />
      </ion-card>
    </div>

    <div class="personal-online">
      <span class="text-personal">CONTEÚDOS</span>
      <ion-icon name="add-outline" class="add-outline"></ion-icon>
    </div>
    <div class="card-container">
      <ion-card class="ion-no-margin conteudo" *ngFor="let item of [1, 2]">

      </ion-card>
    </div>
    </div>
</ion-content>
